<footer class="iasa-footer">
  <div class="container">
    <div class="row ">

      <div class="col-md-4">
        <h2>IASA Group LLC</h2>
        <p>1905 Production Road</br>
          Fort Wayne, Indiana 46808
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12 col-lg">
            <h6>Cage Code</h6>
            <h2>7BM02</h2>
          </div>
          <div class="col-xs-12 col-lg">
            <h6>DUNS #:</h6>
            <h2>96-754-5849</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h6>Phone</h6>
        <h2><a href="tel:260-481-1322">(260)481-1322</a></h2>
        <h6>Fax</h6>
        <h2>260-575-4700</h2>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/dist/js/parsley.js"></script>
