<footer class="iasa-footer">
  <div class="container">
    <div class="row ">
      <div class="col-md-4">
        <h3><a href="tel:260-484-1322">260-484-1322</a></h3>
        <h4>Phone</h4>

      </div>

      <div class="col-md-4">
        <h3>IASA Group LLC</h3>
        <h4>1905 Production Road<br>
          Fort Wayne, Indiana 46808
        </h4>
      </div>
      <div class="col-md-4">

        <h3>260-572-4700</h3>
        <h4>Fax</h4>

      </div>
      <div class="col-sm-6 offset-sm-3">
        <p>IASA complies with all US Export Regulation, IASA is registered and approved by Commerce and U.S. State Departments for Export of all your military aircraft needs.</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/dist/js/parsley.js"></script>
