<!DOCTYPE html>
<html lang="en">

<head>
  {% include header.html %}
</head>

<body>

  {% include nav-home.html %}

  <div class="title title-contact">
    <div class="container">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <section class="iasa-form">
    <div class="container p-t-3 p-b-3">
      <div class="row contact-wrap">
        <div class="col-md-8 col-xl-8">
          {{ content }}
        </div>
        <div class="col-md-4 col-xl-4 iasa-contact-info">
          <h3>IASA Group LLC</h3>
          <p>1905 Production Road <br> Fort Wayne <br> Indiana, 46808 USA
          </p>
          <p><strong>Tel:</strong> <a href="tel:260-484-1322">260-484-1322</a></p>
          <p><strong>Fax:</strong> 260-572-4700</p>
          <p><strong>Cage Code</strong></p>
          <h5>7BM02</h5>
          <p><strong>DUNS #:</strong></p>
          <h5>96-754-5849</h5>
        </div>
      </div>
    </div>
  </section>

  {% include military-footer.html %}
</body>

</html>
