<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% include nav-home.html %}

    <div id="{{ page.class }}-content">
        {{ content }}
    </div>

    <div class=" footer-cta text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3 text-xs-center p-t-3 p-b-3">
            <h1>We Can Help</h1>
            <p>Looking for engineered supply chain services for your operation? Let IASA Group focus on your parts and logistics needs freeing you and your team to focus on mission readiness and flight ops!</p>
            <a href="{{ site.baseurl }}/contact" class="btn btn-primary footer-cta-button d-block">Contact</a>
          </div>
        </div>
      </div>
    </div>

    {% include military-footer.html %}
  </body>
</html>
